/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--main-color);
  font-family: var(--font-family);
  background: 
  repeating-linear-gradient(
    to right, 
    var(--background-image-first-color) 0px 2px, 
    transparent 2px 4px
    ),
  repeating-linear-gradient(
    to bottom, 
    var(--background-image-first-color) 0px 2px, 
    transparent 2px 4px
    ),
  repeating-linear-gradient(
    to bottom, 
    var(--background-image-second-color) 0.01%, 
    var(--background-image-third-color) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--wgth-text);
}

/* Header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 102px;
  margin-bottom: 107px;
  text-transform: uppercase;

}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 696px;
  border: 2px solid var(--main-color);
  font-family: var(--second-font-family);
  background-color: var(--background-color);
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.header__title-big {
  padding-top: 136px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

@media (width <= 375px) {
  .header__title-big {
    padding-top: 120px;
  }
}

.header__title-small {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* Header-menu */

.theme-menu__button {
  border: none;
  overflow: hidden;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;

}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px ;

}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0.6;
  background-color: var(--main-color);
  transition: transform 0.3s ease;
  transform: translateX(-115%);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: translateX(0);

}

.theme-menu__list {
  position: relative;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

/* Cards */

.section__cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.section__title {
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 18px;
  font-variation-settings: var(--wgth-title);
}

.section__cards-container {
  position: relative;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.section__card-image {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
  object-position: center;
}

@media (width <= 375px) {
  .section__card-image {
    height: 371px;
  }
}

.section__card-lable {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--second-font-family);
  font-size: 14px;
  text-shadow: -1px 0 var(--lable-color), 0 1px var(--lable-color),
    1px 0 var(--lable-color), 0 -1px var(--lable-color);
  font-variation-settings: "wght" 400;
  mix-blend-mode: hard-light;

}

@media (width <= 375px) {
  .section__card-lable {
    right: 11px;
  }
}

@supports (text-stroke: 1px var(--label-color)) or (-webkit-text-stroke: 1px var(--label-color)) {
  .section__card-lable {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-color);
    text-stroke: 1px var(--label-color);
  }
}

.section__discription-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  max-width: 696px;
  margin: 25px;
  font-size: 18px;

}

.section__cards-item {
  display: flex;
  flex-direction: column;
  max-width: 696px;
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
}

@media (width <= 375px) {
  .section__cards-item {
    max-width: 371px;
  }
}

/* Cards-bottons */

.section__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
  max-height: 38px;
  margin-right: 25px;
  margin-bottom: 25px;

}

.card__icon-button {
  align-self: center;
  width: 39px;
  height: 36px;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button__text {
  color: var(--mix-blend-color);
  font-family: var(--second-font-family);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.card__like-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 130px;
  min-height: 38px;
  border: 2px solid var(--main-color);
  overflow: hidden;
  background-color: var(--background-color);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-color);
}

.like-icon {
  position: relative;
  width: inherit;
  height: inherit;
  fill: var(--main-color);
}

/* Save */

.section__save {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
  margin-bottom: 105px;
}

.save__button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 335px;
  min-height: 51px;
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
  cursor: pointer;
}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    max-width: 306px;
    min-height: 80px;
  }
}

.floppy-image {
  max-width: 21px;
}

@media (width <= 375px) {
  .floppy-image {
    max-width: 28px;
  }
}

/* Dialog */

.dialog {
  border: 2px solid var(--main-color);
  padding: 30px 26px;
  color: var(--main-color);
  font-family: var(--second-font-family);
  font-size: 14px;
  background: var(--background-color);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (width <= 375px) {
  .dialog__container {
    gap: 28px;
  }
}

.dialog__text {
  width: 100%;
  max-width: 234px;
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__text-container {
  display: flex;
  align-items: center;
  gap: 22px;
}

@media (width <= 375px) {
  .dialog__text {
    width: 80%;
  }
}

.dialog__floppy-image {
  width: 39px;
  height: 39px;
  mix-blend-mode: normal;
}

@media (width <= 375px) {
  .dialog {
    padding: 32px 38px;
  }
}

.ok-button {
  width: 100%;
  padding: 10px 0;
  text-transform: uppercase;
  background: var(--page-background);
  cursor: pointer;
}
 
/* Images-effect */

.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.saturate {
  filter: saturate(360%);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(20px);
}

.multi-filter {
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
}