/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

html.theme-light {
  --background-color:#FFF ;
  --background-image:url(../images/background_light.png) ;
  --main-color: #000;
  --wgth-title: 700;
  --wgth-text: 400;
}


html.theme-dark {
  --background-color:#000 ;
  --background-image:url(../images/background_light.png) ;
  --main-color: #00CC14;
  --wgth-title: 785;
  --wgth-text: 465;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color:#FFF ;
    --background-image:url(../images/background_light.png) ;
    --main-color: #000;
    --wgth-title: 700;
    --wgth-text: 400;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color:#000 ;
    --background-image:url(../images/background_light.png) ;
    --main-color: #00CC14;
    --wgth-title: 785;
    --wgth-text: 465;
  }
}